Dependencies filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/x86/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/x86/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/x86_64/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/x86_64/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/arm64/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/arm64/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/armeabi-v7a/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/armeabi-v7a/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libfreetype.sim.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libpng16.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libpng16.dev.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libpng16.sim.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libfreetype.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/ios/libfreetype.dev.a filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libpng16.so.16 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libpng16.so.16.34.0 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libfreetype.so.6 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libfreetype.so.6.16.0 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libpng.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x64/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libfreetype.so.6 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libfreetype.so.6.16.0 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libpng.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libpng16.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libpng16.so.16 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libpng16.so.16.34.0 filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/linux/x86/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/osx/libpng.dylib filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/osx/libpng16.16.dylib filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/osx/libpng16.dylib filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/osx/libfreetype.6.dylib filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/osx/libfreetype.dylib filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/windows/x64/freetype.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/windows/x64/libpng16.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/windows/x86/freetype.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/windows/x86/libpng16.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/android/arm64-v8a/libfreetype.so filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/uwp/arm/freetype.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/uwp/arm64/freetype.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/uwp/x86/freetype.dll filter=lfs diff=lfs merge=lfs -text
Dependencies/FreeType2/uwp/x64/freetype.dll filter=lfs diff=lfs merge=lfs -text
